node_modules/
.DS_Store
*.log
dist/
# ignore all files inside shopify/assets/ except files with 'static' keyword in their filename
/assets
/snippets/vite.liquid

# Shopify CLI
shopify.theme.toml

# Generated type definitions
auto-imports.d.ts